@Proceedings{ {{proceedings['citation_key']}},
  title     = { {{proceedings['title']['full']}} ({{proceedings['title']['acronym']}} {{proceedings['year']}}) },
  booktitle = { {{proceedings['title']['full']}} ({{proceedings['title']['acronym']}} {{proceedings['year']}}) },
  year      = { {{proceedings['year']}} },
  editor    = { {{' and '.join(proceedings['editor'])}} },
  isbn      = { {{proceedings['isbn']}} }
}
